{% extends 'base.html.twig' %}

{% block title %}Utilisateur {{ user.lastname }} {{ user.firstname }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ user.lastname }} {{ user.firstname }}</h1>
        <br>
        <table class="table table-striped table-bordered text-center">
            <thead class="thead-light">
            <tr>
                <th scope="col">Réservation</th>
                <th scope="col">00</th>
                <th scope="col">01</th>
                <th scope="col">02</th>
                <th scope="col">03</th>
                <th scope="col">04</th>
                <th scope="col">05</th>
                <th scope="col">06</th>
                <th scope="col">07</th>
                <th scope="col">08</th>
                <th scope="col">09</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
                <th scope="col">13</th>
                <th scope="col">14</th>
                <th scope="col">15</th>
                <th scope="col">16</th>
                <th scope="col">17</th>
                <th scope="col">18</th>
                <th scope="col">19</th>
                <th scope="col">20</th>
                <th scope="col">21</th>
                <th scope="col">22</th>
                <th scope="col">23</th>
                <th scope="col">Date Début</th>
                <th scope="col">Date Fin</th>
                <th scope="col">Validité</th>
            </tr>
            </thead>
            <tbody>
            {% if reservation is iterable %}
                {% for reservations in reservation %}
                    {% set currentDate = "now"|date('Y/m/d') %}
                    {% set currentTime = "now"|date('H') %}
                    {% set startDate = reservations.getStartDate()|date('Y/m/d') %}
                    {% set endDate = reservations.getEndDate()|date('Y/m/d') %}
                    <tr>
                        <th scope="row">{{ reservations.accessid.name}}</th>
                        {% for hour in 0..23 %}
                            <td {% if reservations.starttime <= hour and reservations.endtime >= hour %} class="bg-success" {% endif %}></td>
                        {% endfor %}
                        <td {% if startDate <= currentDate and endDate >= currentDate %} class="bg-success" {% else %} class="bg-danger" {% endif %}>{{ startDate }}</td>
                        <td {% if startDate <= currentDate and endDate >= currentDate %} class="bg-success" {% else %} class="bg-danger" {% endif %}>{{ endDate }}</td>
                        <td {% if startDate <= currentDate %} {% if endDate >= currentDate %} {% if reservations.starttime <= currentTime and reservations.endtime >= currentTime %}
                                class="bg-success">
                            <a href="#"
                               data-bs-toggle="tooltip" data-bs-placement="right"
                               data-bs-title="Accès Valide.">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                                </svg>
                            </a>
                            {% else %}
                                class="bg-warning">
                                <a href="#"
                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                   data-bs-title="Accès Invalide. Horaire incorrect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                    </svg>
                                </a>
                            {% endif %}
                            {% else %}
                                class="bg-danger">
                                <a href="#"
                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                   data-bs-title="Accès expiré.">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                    </svg>
                                </a>
                            {% endif %}
                            {% else %}
                                class="bg-info">
                                <a href="#"
                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                   data-bs-title="Accès Invalide. Réservation non active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}